.main-body {
    background-image: url("resource/parmacibg2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    background-image: url("resource/parmacylogo.png");
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Quicksand";
    src: url("font/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Honey";
    src: url("font/HoneyScript-Light.ttf");
}

* {
    font-family: "Quicksand";
    font-size: 14px;
}

.title1 {
    font-family: "Honey";
    font-size: 30px;
    letter-spacing: 3px;
}

.background {
    background-image: url("resource/parmacibg1.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title2 {
    font-size: 25px;
    font-weight: bold;
}

.well {
    background: none;
    height: 320px;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 250px;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead>tr>th {
    border: none;
}

.scroll {
    height: 100%;
    overflow: auto;
    border: 1px solid gray;
}